<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
        {%- include head.html -%}
    <body>
    <main class="page-content" aria-label="Content">
        <div class="wrapper">
            {{ content }}
        </div>
    </main>
        {%- include footer.html -%}
    </body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/8.0.0/mermaid.min.js"></script>
<script>
   mermaid.initialize({
       startOnLoad:true,
       theme: 'default'
   });
   window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
</script>
</html>